@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light-color: #fff;
  --secondary-light-color: #f5f5f5;
  --button-light-color: #6366f1;
  --button-light-hover-color: #5255f1;
  --text-light-color: #404040;
  --muted-light-color: #a2a2a2;
}

* {
  font-family: "Montserrat", sans-serif;
}
